<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atalasoft.dotImage.AdvancedDocClean.x64" version="11.1.0.1336" targetFramework="net452" />
  <package id="Atalasoft.dotImage.Lib.x64" version="11.1.0.1336" targetFramework="net452" />
  <package id="Atalasoft.dotImage.Ocr.x64" version="11.1.0.1336" targetFramework="net452" />
  <package id="Atalasoft.dotImage.Pdf.x64" version="11.1.0.1336" targetFramework="net452" />
  <package id="Atalasoft.dotImage.PdfDoc.Bridge.x64" version="11.1.0.1336" targetFramework="net452" />
  <package id="Atalasoft.dotImage.PdfReader.x64" version="11.1.0.1336" targetFramework="net452" />
  <package id="Atalasoft.dotImage.WebControls.x64" version="11.1.0.1336" targetFramework="net452" />
  <package id="Atalasoft.dotImage.x64" version="11.1.0.1336" targetFramework="net452" />
  <package id="Atalasoft.PdfDoc.x64" version="11.1.0.1336" targetFramework="net452" />
  <package id="Atalasoft.Shared" version="11.1.0.1336" targetFramework="net452" />
</packages>